$red: #bf4040;
$white: #fff;


/* --------------------
 animation
-------------------- */
@mixin keyframes($animation-name: animaton) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* --------------------
 site break points
-------------------- */
$tablet: 768px !default;
$desktop: 1024px !default;
$widescreen: 1200px !default;
$fullhd: 1600px !default;
//@include mobile()
@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}

@mixin widescreen-only {
  @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
    @content;
  }
}

@mixin fullhd {
  @media screen and (min-width: $fullhd) {
    @content;
  }
}


@mixin transform-rotate($deg) {
  -moz-transform: rotate($deg + deg);
  -ms-transform: rotate($deg + deg);
  -webkit-transform: rotate($deg + deg);
  -o-transform: rotate($deg + deg);
  transform: rotate($deg + deg);
}

@mixin transform-translateY($color) {
  -moz-transform: translateY($color);
  -ms-transform: translateY($color);
  -webkit-transform: translateY($color);
  -o-transform: translateY($color);
  transform: translateY($color);
}

@mixin transform-translate($pos, $pos2) {
  -moz-transform: translate($pos, $pos2);
  -ms-transform: translate($pos, $pos2);
  -webkit-transform: translate($pos, $pos2);
  -o-transform: translate($pos, $pos2);
  transform: translate($pos, $pos2);
}

@mixin transform-scale($val) {
  -moz-transform: scale($val);
  -ms-transform: scale($val);
  -webkit-transform: scale($val);
  -o-transform: scale($val);
  transform: scale($val);
}

@mixin transition($val) {
  -webkit-transition: ($val);
  -moz-transition: ($val);
  -ms-transition: ($val);
  -o-transition: ($val);
  transition: ($val);
}

.fade {
  &-leave-active {
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    opacity: 0;
  }
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.6s ease;
  }
}

.fade-up {
  &-leave-active {
    transition: all 0.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }
  &-enter {
    transform: translateY(10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.6s ease;
  }
}

.fade-down {
  &-leave-active {
    transition: all 0.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateY(10px);
    opacity: 0;
  }
  &-enter {
    transform: translateY(-10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.5s ease;
  }
}

.fade-right {
  &-leave-active {
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }
  &-enter {
    transform: translateX(10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.6s ease;
  }
}

.fade-left {
  &-leave-active {
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  &-enter {
    transform: translateX(-10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.6s ease;
  }
}

.zoom-in {
  &-leave-active {
    transition: all 0.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: scale(0.98);
    opacity: 0;
  }
  &-enter {
    transform: scale(0.98);
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.5s ease;
  }
}
.zoom-out {
  &-leave-active {
    transition: all 0.6s ease-in;
  }
  &-leave-to {
    transform: scale(1.03);
    opacity: 0;
  }
  &-enter {
    transform: scale(1.03);
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.7s ease;
  }
}